@model Itera.Fagdag.November.ViewModels.BookViewModel

<div class="content">
    <div class="span4">
        <img src="@Url.Content(Model.CoverImageUrl)"></img>
    </div>
    <div class="span4">
        <h2>@Model.Title</h2>
        <h3>@Model.Author</h3>
        <p>@Model.Description</p>
        <p><b>Хэл:</b> @Model.Language</p>
        <p><b>Хуудас:</b> @Model.Pages</p>
        <p><b>ISBN-10:</b> @Model.ISBN10 <b>ISBN-13:</b> @Model.ISBN13</p>
        <p>@Html.ActionLink(@Model.ReserveButtonText, "ReserveAndUpdateCart", "Cart", new { id = @Model.BookId }, new { @class = @Model.ReserveButtonStyle })</p>
    </div>
</div>