@model IEnumerable<Itera.Fagdag.November.ViewModels.BookViewModel>

<div class="content">
    @foreach (var bookViewModel in @Model)
    {
        <div class="item-book">
            <h3>@Html.ActionLink(@bookViewModel.Title, "Details", "Book", new { id = @bookViewModel.BookId }, string.Empty)</h3>
            <p><b>@bookViewModel.Author</b></p>
            <p><a href="@Url.Action("Details", "Book", new { id = bookViewModel.BookId })"><img class="thumbnail" src="@Url.Content(bookViewModel.CoverImageUrl)" /></a></p>
            <p class="@bookViewModel.ReserveLabelStyle">@bookViewModel.ReserveLabelText</p>
            <a href="Uploads/D.IS12D008.pdf">test.pdf</a>

        </div>
      
    }
</div>