@model Itera.Fagdag.November.ViewModels.BookViewModel

<div class="row">
    @Html.Partial("~/Views/ManageBooks/_ManageBooks.cshtml")
    <div class="span12">
        <legend>Ном нэмэх</legend>
        @using (Html.BeginForm("AddBook", "ManageBooks", FormMethod.Post, new {enctype = "multipart/form-data"}))
        {
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.Title)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.Author)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.Author)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.Description)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.Pages)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.Pages, new {@style = "width:40px"})
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.Language)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.Language)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.ISBN10)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.ISBN10)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.ISBN13)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.ISBN13)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    @Html.LabelFor(m => m.CoverImageBase)
                </div>
                <div class="span2.5">
                    @Html.TextBoxFor(m => m.CoverImageBase, new { type = "file", accept = "image/jpg,image/png,image/jpeg,image/gif" })
                </div>
                <div>
                    @Html.ValidationMessageFor(m => m.CoverImageBase)
                </div>
            </div>
            <div class="row">
                <div class="span1">
                    <input type="submit" value="Нэмэх" class="btn" />
                </div>
            </div>
        }
    </div>
</div>