<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Intelligo</title>
  <script src="/js/lib/tracking-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body id="game-body">

  <div class="score-container" style="display: none">
    <h5>High Scores:</h5>
    <ol style="font-size:20px;padding: 10px">
      <li>Doljko: 992</li>
      <li>Toroo: 532</li>
    </ol>
    <!-- <% var counter=8;%>
    <% for (var player of players) { %>
      <% counter-=1.1;%>
      <a-plane mixin="plane" position="0 <%- counter %> 0" color="#F16745">
        <a-animation attribute="scale" from="1 0 1" to="1 1 1" dur="750" delay="500"
                     fill="backwards"></a-animation>
        <a-text value="<%- player.name %> <%- player.score %>" color="FAFAFA"></a-text>
      </a-plane>

    <% } %> -->
  </div>

  <section class="game_screen">
    <div id="one-text" >3</div>
    <div id="two-text" >2</div>
    <div id="three-text" >1</div>
    <div id="fourth-text" >READY?</div>

    <video style="display: none" id="video" width="10" height="10" autoplay></video>

    <canvas id="canvas" width="920" height="760"></canvas>

    <video id="my_velocityvideo" width="200" height="150" preload autoplay loop muted></video>

    <h3 id="score" style="font-weight:bolder">Score: 0</h3>

  </section>

  <section class="start_game_menu"  id="particles-start">
    <h1 class="animated fadeInUp">Intelligo</h1>
    <button id="start_game_btn" class="animated fadeInUp">Start Game</button>
  </section>

  <section class="end_game_menu" style="display:none" id="particles-end" >
    <h1>Game Over</h1>
    <h2><i class="fa fa-trophy" style="color:#afd2bc"></i> Score: <span id="result_score"></span></h2>
    <button id="try_again_btn">Try again</button>
    <h2>Top players</h2>
    <ol style="font-size:20px;padding: 10px">
      <% for (var player of players) { %>
        <li><p><%- player.name %></p><p><%- player.score %></p></li>
      <% } %>
    </ol>

  </section>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/variables.js"></script>
  <script src="/js/game.js"></script>


</body>

<script src="/js/particles.js"></script>
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-start', 'js/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });

    particlesJS.load('particles-end', 'js/particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>
<script src="js/lib/threelib/three.min.js"></script>
<script src="js/lib/threelib/DragControls.js"></script>
<script src="js/lib/threelib/TrackballControls.js"></script>
<script src="js/lib/threelib/OrbitControls.js"></script>
<script src="js/lib/threelib/stats.min.js"></script>
<script src="js/three-animations.js"></script>
<script src="js/voice.js"></script>
</html>
