@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form pull-right" }))
    {
    @Html.AntiForgeryToken()
            
    <ul class="nav">
        <li>
            @Html.ActionLink(User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Хэрэглэгчийн мэдээлэл шинэчлэх" })
        </li>
        <li>
            @Html.ActionLink("Ном", "Index", "ManageBooks")
        </li>
        <li>
            @Html.ActionLink("Цуглуулга", "Index", "Cart")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Гарах</a></li>
    </ul>
    }
}
else
{
    <ul class="nav pull-right">
        <li>@Html.ActionLink("Бүртгүүлэх", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Нэвтрэх", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
